@layer reset, base, tokens, recipes, utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: #000;
  color: #bebebe;
}
