@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: "PixelMplus";
  src: url("../../../apps/web/src/public/fonts/PixelMplus12-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PixelMplus", system-ui, sans-serif;
  background-color: #000;
  color: #bebebe;
}
