name: CI
on:
  - pull_request
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install pnpm
      uses: pnpm/action-setup@v4
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: package.json
        cache: pnpm
    - name: Install dependencies
      run: pnpm install
    - name: Install Playwright browsers
      run: pnpm exec playwright install --with-deps chromium
    - name: Type check
      run: pnpm run type-check
    - name: Lint
      run: pnpm check
    - name: Test
      run: pnpm test:unit
